:root {
  --skycolor: #cde9f0;
  --greencolor: #7bed9f;
  --yellowcolor: #ffeaa7;
  --pinkcolor: #fab1a0;
  --graycolor: #dfe4ea;
}

.threeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

header .header_right {
  display: flex;
  justify-content: space-between;
}
.header_title span {
  margin-bottom: 10px;
  text-transform: uppercase;
  text-decoration: underline;
  display: block;
  color: rgba(0, 0, 0, 0.4);
}
.header {
  margin-top: 50px;

  margin-bottom: 200px;
}
.header .header_left span {
  margin-top: 0;

  font-size: 30px;
}
ul {
  list-style: none;
}
ul,
li {
  margin: 0;
  padding: 0;
}
li:not(.target) {
  display: flex;
  justify-content: center;
}

.tenGrid {
  grid-auto-rows: 30vh;

  grid-gap: 15px;
}

.tenGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 250px;
}

.tenGrid span {
  text-transform: uppercase;
  text-decoration: underline;
  display: block;
  color: rgba(0, 0, 0, 0.4);
}
.tenGrid div {
  background-size: cover;
  background-position: center center;
}

.tenGrid div:first-child {
  grid-row: 2 span;
  background-color: var(--skycolor);
}
.tenGrid div:nth-child(2) {
  grid-row: 1/3;
  grid-column: 2/4;
  background-image: url(/img/osaka.jpg);
}
.tenGrid div:nth-child(3) {
  background-color: var(--greencolor);
}
.tenGrid div:nth-child(4) {
  grid-row: 2 span;
  background-image: url(/img/osaka_food.jpg);
}
.tenGrid div:nth-child(5) {
  background-color: var(--yellowcolor);
}
.tenGrid div:nth-child(6) {
  background-color: var(--graycolor);
}
.tenGrid div:nth-child(7) {
  background-image: url(/img/osaka_best.jpg);
}
.tenGrid div:nth-child(8) {
  grid-row: 2 span;
  grid-column: 2 span;
  background-color: var(--pinkcolor);
}
.tenGrid div:nth-child(9) {
  grid-row: 2 span;
  background-image: url(/img/osaka_news.jpg);
}
.tenGrid div:nth-child(10) {
  grid-row: 2 span;
  grid-column: 2 span;
  background-image: url(/img/oksaka_location.jpg);
}
.tenGrid div:nth-child(11) {
  background-image: url(/img/osaka_location3.jpg);
}
.tenGrid div:nth-child(12) {
  background-image: url(/img/osaka_location2.png);
}

.tenGrid div:nth-child(13) {
  grid-row: 2 span;
  grid-column: 2 span;
  background-color: var(--greencolor);
}
.tenGrid div:nth-child(14) {
  background-image: url(/img/osaka_location4.jpg);
}
.tenGrid div:nth-child(15) {
  background-color: var(--yellowcolor);
}

.tenGrid {
  text-align: center;
}

.footer_threeGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer_threeGrid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
